<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 vertical-menu-home padding-small aside-vetical-menu">
    <div id="section-verticalmenu" class="block block-verticalmenu float-vertical float-vertical-left">
        <div class="bg-vertical">
        </div>
        <h4 class="block-title float-vertical-button button_gradient">
            <button class="" id="icon_dropdown" style="background:none; border: none; padding: 0">
                <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
                <span class="verticalMenu-text" style="color: #ffffff">
                    All Categories
                </span>
            </button>
        </h4>
        <div class="aside-vetical-menu">
            <aside class="blog-aside">
                <div class="block_content aside-content" id="dropdown_block" style="display:none;">
                    <div id="verticalmenu" class="list_menu_header verticalmenu nav-category " role="navigation">
                        <div class="ul nav vertical-nav ul_menu site-nav-vetical">
                            <div class="nav_item nav-item lv1 li_check">
                                <div class="icon">
                                </div>
                                <a href="~/CustomerBooks/Index" title="All Books">
                                    All Books
                                </a>
                            </div>
                            <div class="nav_item nav-item lv1 li_check">
                                <div class="icon">
                                </div>
                                <a href="/fiction" title="Fiction">
                                    Fiction
                                    <i class="fas fa-angle-right">
                                    </i>
                                </a>
                                <div class="ul_content_right_1">
                                    <div class="row">
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/literature" title="Literature">
                                                Literature
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/classics" title="Classics">
                                                Classics
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/romance" title="Romance">
                                                Romance
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/young-adult" title="Young Adult">
                                                Young Adult
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/fantasy" title="Fantasy">
                                                Fantasy
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/science-fiction" title="Science Fiction">
                                                Science Fiction
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/contemporary" title="Contemporary">
                                                Contemporary
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/children" title="Children">
                                                Children
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/crime-thrillers-horror" title="Crime, Thrillers &amp; Horror">
                                                Crime, Thrillers &amp; Horror
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/world-literature" title="World Literature">
                                                World Literature
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/anthology-short-stories" title="Anthology &amp; Short Stories">
                                                Anthology &amp; Short Stories
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/nobel-prize-winners" title="Nobel Prize Winners">
                                                Nobel Prize Winners
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/booker-prize-winners-nominees" title="Booker Prize Winners &amp; Nominees">
                                                Booker Prize Winners &amp; Nominees
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nav_item nav-item lv1 li_check">
                                <div class="icon">
                                </div>
                                <a href="/nonfiction" title="Nonfiction">
                                    Nonfiction
                                    <i class="fas fa-angle-right">
                                    </i>
                                </a>
                                <div class="ul_content_right_1">
                                    <div class="row">
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/self-help" title="Self-Help">
                                                Self-Help
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/philosophy" title="Philosophy">
                                                Philosophy
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/psychology" title="Psychology">
                                                Psychology
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/politics" title="Politics">
                                                Politics
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/sociology" title="Sociology">
                                                Sociology
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/history-geography" title="History &amp; Geography">
                                                History &amp; Geography
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/art-painting" title="Art &amp; Painting">
                                                Art &amp; Painting
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/biography-memoir" title="Biography &amp; Memoir">
                                                Biography &amp; Memoir
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/travelogue" title="Travelogue">
                                                Travelogue
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/business-economics-finance" title="Business, Economics &amp; Finance">
                                                Business, Economics &amp; Finance
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/language-textbook-reference" title="Language, Textbook &amp; Reference">
                                                Language, Textbook &amp; Reference
                                            </a>
                                        </div>
                                        <div class="nav_item nav-item lv2 col-lg-3 col-md-4">
                                            <a href="/essays-criticism" title="Essays &amp; Criticism">
                                                Essays &amp; Criticism
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nav_item nav-item lv1 li_check">
                                <div class="icon">
                                </div>
                                <a href="/poetry" title="Poetry">
                                    Poetry
                                </a>
                            </div>
                            <div class="nav_item nav-item lv1 li_check">
                                <div class="icon">
                                </div>
                                <a href="/comic-graphic-novel" title="Comic &amp; Graphic Novel">
                                    Comic &amp; Graphic Novel
                                </a>
                            </div>
                            <div class="nav_item nav-item lv1 li_check">
                                <div class="icon">
                                </div>
                                <a href="/art-photography-design" title="Art, Photography &amp; Design">
                                    Art, Photography &amp; Design
                                </a>
                            </div>
                            <div class="nav_item nav-item lv1 li_check">
                                <div class="icon">
                                </div>
                                <a href="/language-reference-textbook" title="Language, Reference &amp; Textbook">
                                    Language, Reference &amp; Textbook
                                </a>
                            </div>
                            <div class="nav_item nav-item lv1 li_check">
                                <div class="icon">
                                </div>
                                <a href="/nobel-prize-winners" title="Nobel Prize Winners">
                                    Nobel Prize Winners
                                </a>
                            </div>
                            <div class="nav_item nav-item lv1 li_check">
                                <div class="icon">
                                </div>
                                <a href="/booker-prize-winners-nominees" title="Booker Prize Winners &amp; Nominees">
                                    Booker Prize Winners &amp; Nominees
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>

<script src="~/Content/assets/scripts/main.js"></script>
<script src="~/Content/assets/scripts/dropdown.js"></script>