
<style>
    .mySlides {
        display: none;
    }
</style>
<div class="slidergido">
    <img href="https://www.facebook.com/xepbookstore" class="mySlides" src="~/Content/assets/sliders/slider_1.jpg" style="width:100%">
    <img class="mySlides" src="~/Content/assets/sliders/slider_2.jpg" style="width:100%">
    <img href="~/Customers/Index"class="mySlides" src="~/Content/assets/sliders/slider_3.jpg" style="width:100%">
</div>

<script src="~/Content/assets/scripts/slider.js"></script>