<li class="top-cart-contain f-right">
    <div class="mini-cart text-xs-center">
        <div class="heading-cart cart_header">
            <a class="img_hover_cart" href="@Url.Action("GetCartInfo", "Cart")" title="Giỏ hàng">
                <div class="icon_hotline visible_index">
                    <i class="fas fa-dolly">
                    </i>
                    <span class="count_item count_item_pr">
                        @ViewBag.TotalNumber
                    </span>
                </div>
            </a>
        </div>
    </div>
</li>

