
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanh toán thành công</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body style="text-align: center">
    <h2>
        Đặt hàng thành công!
    </h2>
    <h4>Cảm ơn bạn đã mua hàng tại Gác Xép Bookstore. Đơn hàng sẽ được giao đến bạn dự kiến 1 tuần.</h4>
    <a href="@Url.Action("Index","CustomerBooks")">Tiếp tục mua hàng...</a>
</body>
</html>
