
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="box-sizing:border-box;min-height:300px;margin-bottom:50px;display:block;">
    <div style="width: 1170px;box-sizing:border-box;padding-right:15px;padding-left:15px;margin-right: auto;margin-left: auto;">
        <div style="box-sizing:border-box;">
            <h1 style="box-sizing:border-box;font-size:28px;font-family:'Product Sans';font-weight:700;text-transform:none;margin-bottom:20px;color:rgb(37, 37, 37);letter-spacing:0.28px;line-height:39.2px;margin-top:20px;margin:20px 0px;">
                <span style="box-sizing:border-box;">Giỏ hàng của bạn</span>
            </h1>
            <div style="box-sizing:border-box;">

            </div>
        </div>
        <div style="min-height: auto;box-sizing:border-box;float:none;width: auto;border-radius:0px;border:0.555556px solid rgb(73, 131, 116);background-color:rgb(255, 255, 255);box-shadow:rgba(24, 16, 35, 0.07) 0px 3px 35px 0px;padding:15px 25px 1px;">
            <p style="box-sizing:border-box;margin:0px 0px 15px;">Không có sản phẩm nào trong giỏ hàng. Quay lại <a href="/" style="box-sizing:border-box;color:rgb(37, 37, 37);text-decoration:none solid rgb(37, 37, 37);background:rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;transition:all 0.15s ease-in-out 0s;background-color:rgba(0, 0, 0, 0);">cửa hàng</a> để tiếp tục mua sắm.</p>
        </div>
    </div>
    <div style="display:none;box-sizing:border-box;">
        <form action="/cart" method="post" novalidate="" style="box-sizing:border-box;margin-bottom:0px;">
            <div style="box-sizing:border-box;">

                <div style="box-sizing:border-box;">
                    <h3 style="box-sizing:border-box;color:rgb(37, 37, 37);letter-spacing:0.24px;font-size:24px;font-family:'Product Sans';line-height:33.6px;margin-top:20px;margin-bottom:10px;font-weight:500;">Giỏ hàng của bạn</h3>
                    <p style="box-sizing:border-box;margin:0px 0px 15px;">(Chưa có sản phẩm nào) nhấn vào <a href="/collections/all" style="box-sizing:border-box;color:rgb(87, 84, 84);text-decoration:none solid rgb(87, 84, 84);background:rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;transition:all 0.15s ease-in-out 0s;background-color:rgba(0, 0, 0, 0);">cửa hàng</a> để mua hàng</p>
                </div>
            </div>
            <div style="background:#fff;box-sizing:border-box;"></div>
        </form>
    </div>
</div>

